
.rotate{
    @include rotate;
}

@keyframes rotar{
    0%{
        opacity: 0;
        transform: scale(0.3) rotateX(65deg);
    }
    100%{
        opacity: 100%;
        transform: scale(1) rotate(0deg);
    }

}