@import "mixins/grid";
@import "mixins/colors";
@import "mixins/buttons";


// ENLACES
@mixin link_p{
  @include c_l_primary;
  text-decoration: none;
  font-weight: bold;
  &:hover{
    text-decoration: underline;
    transition: $trancition;
  }
}
@mixin link_s{
  @include c_l_secondary;
  text-decoration: none;
  font-weight: bold;
  &:hover{
    text-decoration: underline;
    transition: $trancition;
  }
}

// COLORES


// MARGENES & PADDINGS
@mixin margin_t_b{
  margin-top: $margin;
  margin-bottom: $margin;
}
@mixin margin_l_r{
  margin-left: $margin*2;
  margin-right: $margin*2;
}
@mixin margin_t{
  margin-top: $margin;
}
@mixin margin_b{
  margin-bottom: $margin;
}
@mixin margin_l{
  margin-left: $margin;
}
@mixin margin_r{
  margin-right: $margin;
}
@mixin margin{
  margin:$margin;
}

@mixin padding_t_b{
  padding-top: $padding;
  padding-bottom: $padding;
}
@mixin padding_l_r{
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding_t{
  padding-top: $padding;
}
@mixin padding_b{
  padding-bottom: $padding;
}
@mixin padding_l{
  padding-left: $padding;
}
@mixin padding_r{
  padding-right: $padding;
}
@mixin padding{
  padding:$padding;
}

// ALINEACIONES
@mixin flex_end{
  justify-content: flex-end!important;
}

@mixin flex_start{
  justify-content: flex-start!important;
}
@mixin flex_center{
  justify-content: flex-center!important;
}

// SHADOWS
@mixin shadow{
  -webkit-box-shadow: 4px 3px 7px 3px rgba(0,0,0,0.24);
  -moz-box-shadow: 4px 3px 7px 3px rgba(0,0,0,0.24);
  box-shadow: 4px 3px 7px 3px rgba(0,0,0,0.24);
}
@mixin shadow_btn{
  -webkit-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.44);
-moz-box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.44);
box-shadow: 7px 7px 7px -6px rgba(0,0,0,0.44);
}

// ALINEACIONES DE TEXTO
@mixin align_c{
  @include align(center);
}
@mixin align_l{
  @include align(left);
}
@mixin align_r{
  @include align(right);
}
@mixin align($align){
  text-align: $align!important;
}
@mixin align_j{
  @include align(justify);
}
// ALINEACIONES
