.services{
  @include flex;
  font-family: $font!important;
  .service-item{
    @include flex;
    overflow: hidden;
    width: 80%;
    height: auto;
    margin:$margin*3;
    border-radius: $radius;
    @include shadow;
    .service-img{
      width: 100%;
      height: 120px;
      text-align: center;
      img{
        width: 120px;
        max-width: 100%;
      }
    }
    .service-title{
      @include margin-l-r;
      width: 100%;
      h3{
        text-align: center;
        @include margin_t_b;
        text-transform: uppercase;
        font-weight: 900;
        font-family: 'Roboto', sans-serif!important;
        color:$secondary;
      }
    }
    .service-description{
      flex-grow: 1;
      @include margin-l-r;
      @include align_j;
      @include flex;
      align-items: center;
      p{
        @include color_p_soft;
        font-size: $f-s-card;
        font-family: 'Roboto', sans-serif!important;
        text-align: justify;
      }
    }
    .service-link{
      @include margin-l-r;
      @include flex;
      width: 100%;
      align-self: flex-end;
    }
  }
}
