.title-p{
  font-size: 1.5em;
  position: relative;
  width: 100%;
}
// Text Align
// center
.text-a-c{
  @include align_c;
}
// left
.text-a-l{
  @include align_l;
}
// right
.text-a-r{
  @include align_r;
}
// justify
.text-a-j{
  @include align_j;
}
// TITULOS
.subtitle{
  @include align_l;
}
// OTROS
.hr-s{
  border-top: 1px solid $secondary;
  width: 100%;
  height: 10px;
}


// ALINEACIONES
.flex-end{
  @include flex_end;
}
.flex-start{
  @include flex_start;
}
.flex-center{
  @include flex_center;
}
