// COLORES
$primary: black;
$primary-hover: #4c3d3d;
$secondary: #15bbf3;
$secondary-hover:#008cff;
$terciary:white;
$danger:#FF5533;
$danger-hover:red;
$color-t: black;
$default:#e2e1e1;
$default-hover:#d3d3d3;
// FUENTES & TEXTOS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$font:'Roboto';
$font-s: 'sans-serif';
$f-s-card:0.8em;

// PADDINGS & MARGINS
$padding:5px;
$margin: 10px;

// ESQUINAS
$radius:5px;

// TRANSICIONES & ANIMACIONES
$trancition:.3s;
$scale:scale(1.01);

// SHADOWS
