// COLORES
$primary: black;
$primary-hover: #4c3d3d;
$secondary: #15bbf3;
$secondary-hover:#008cff;
$terciary:white;
$danger:#FF5533;
$danger-hover:red;
$color-t: black;
// FUENTES & TEXTOS
$font:'Roboto', sans-serif;

// PADDINGS & MARGINS
$padding:5px;
$margin: 10px;

// ESQUINAS
$radius:5px;

// TRANSICIONES & ANIMACIONES
$trancition:.3s;
$scale:scale(1.01);

// SHADOWS
