@mixin rotate {
    animation: rotar 1s;
    // animation-play-state: paused;
}
@mixin rotateY {
    animation: rotateY 1.5s;
    // animation-play-state: paused;
}
@mixin rotateYr {
    animation: rotateY 2.5s;
    // animation-play-state: paused;
}