
@mixin color($color-1,$color-2){
  background-color: $color-1!important;
  color:$color-2!important;
}
// COLOR DE ENLACE PRIMARIO
@mixin c_l_primary{
  color:$secondary!important;
  &:hover{
    color:$secondary-hover!important;
  }
}
@mixin c_l_secondary{
  color:$primary!important;
  &:hover{
    color:$primary-hover!important;
  }
}


// COLORES TEXT
@mixin color_t_p{
  color:$primary;
}
@mixin color_t_s{
  color:$secondary;
}
@mixin color_p_soft{
  color:$primary-hover;
}
@mixin color_s_soft{
  color:$secondary-hover;
}
@mixin color_t_t{
  color:$terciary;
}
@mixin color_t($color){
  color:$color;
}
