@mixin primary{
  background-color: $primary;
  color: $terciary;
}
@mixin secondary{
  background-color: $secondary-hover;
  color: $terciary;
}
@mixin danger($color-1,$color-2){
  background-color: $color-1;
  color:$color-2;
}
// COLOR DE ENLACE PRIMARIO
@mixin c_l_primary{
  color:$secondary;
  &:hover{
    color:$secondary-hover;
  }
}
@mixin c_l_secondary{
  color:$primary;
  &:hover{
    color:$primary-hover;
  }
}


// COLORES TEXT
@mixin color_t_p{
  color:$primary;
}
@mixin color_t_s{
  color:$secondary;
}
@mixin color_p_soft{
  color:$primary-hover;
}
@mixin color_s_soft{
  color:$secondary-hover;
}
@mixin color_t_t{
  color:$terciary;
}
@mixin color_t($color){
  color:$color;
}
