@mixin flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*! Sistema Grid  no funciona*/
@for $i from 1 through 12{
  .col-#{$i}{
    $restult:  percentage($i / 12);
    width: $restult;
    background-color: $default;
  }
}
