.buttons_and_links
  +title('Botones')
  a.btn-primary(href="#") Botones
  a.btn-secondary(href="#") Botones
  +title('Enlaces')
  p.text-a-c
    span Haz click <a class="link-p" href="#">Aquí</a> para mas información
  p.text-a-c
    span Haz click <a class="link-s" href="#">Aquí</a> para mas información
