.buttons_and_links
  +title('Botones')
  .row
    a.btn.btn-primary(href="#") Primary
    a.btn.btn-secondary(href="#") Secondary
    a.btn.btn-danger(href="#") Danger
  +title('Enlaces')
  p.text-a-c
    span Haz click <a class="link-p" href="#">Aquí</a> para mas información
  p.text-a-c
    span Haz click <a class="link-s" href="#">Aquí</a> para mas información
