.row
    //- Grid
    +title('Sistema GRID')
    .col-1
        p 1
    .col-1
        p 2
    .col-1
        p 3
    .col-1
        p 4
    .col-1
        p 5
    .col-1
        p 6
    .col-1
        p 7
    .col-1
        p 8
    .col-4
        p 4
    .col-8
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, adipisci.
    