+title('Desarrolladores')
.peoples
    .people-item
        .people-img.rotar-y
            img(src="./assets/people.png")#ccchm-image
        .people-body.rotar-y-r#ccchm
            .people-name
                h4 Cristhian Chauca Mariaca
                .hr
            .people-skills
                ol
                    li Programador Laravel
                    li Mysql - Diseño
                    li Sass - Preprocesador Css
                    li Pug - Preprocesador Pug
            .people-link
                a(href="#").btn.btn-primary Repositorio
    .people-item
        .people-img.rotar-y
            img(src="media/people.png")
        .people-body.rotar-y-r
            .people-name
                h4 Cristhian Chauca Mariaca
                .hr
            .people-skills
                ol
                    li Programador Laravel
                    li Mysql - Diseño
                    li Sass - Preprocesador Css
                    li Pug - Preprocesador Pug
            .people-link
                a(href="#").btn.btn-primary Repositorio