+title('Ejemplos de Productos')
.products
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-1")
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-2")
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-3")
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-4")
  .product-item
    .product-title
      h3.subtitle Antivirus ESET
    .product-description
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nostrum placeat magni id corporis eum, quaerat dolores! Recusandae, facere, eaque!
    .product-link.flex-end
      a(href="#").btn.btn-secondary.float-right Consultar por el producto  
  .product-item
    .product-title
      h3 Antivirus ESET
    .product-banner
      img(src="media/banner.png", alt="")
    .product-link.flex-end
      a(href="#").btn.btn-secondary Consultar por el producto  
