+title('Ejemplos de Productos')
.products
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-1")
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-2")
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-3")
  +product('Titulo', 'Descripcion contenido','Detalle','banner.png','https://hdesks.blogspot.com')(id="rotate-4")
