+title('Servicios')
.services
  .service-item  
    .service-title
      h3 Redes
      .hr-s
    .service-img
      img(src="media/ejemplo.png", alt="")
    .service-description
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, facilis!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, qui.
    .service-link
      a.btn-secondary(href="#") Ver Servicio
  .service-item  
    .service-title
      h3 Redes
      .hr-s
    .service-img
      img(src="media/ejemplo.png", alt="")
    .service-description
      p Lorem ipsum dolor sit amet, consectetur
    .service-link
      a.btn-secondary(href="#") Ver Servicio
  
