mixin product(title, description,btntext,banner,href)
    .product-item&attributes(attributes)
        if banner
            .product-banner
                img(src="media/"+banner, alt=title title=title)
        if title
            .product-title
                h3.subtitle= title
        if description
            .product-description
                p=  description
        if btntext && href
            .product-link.flex-end
                a(href=href target="_blank").btn.btn-primary= btntext